In [4]:
pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
    100% |████████████████████████████████| 112kB 3.5MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

df1 = pd.read_excel("./bitcoin_merged (since 2011, no NaN).xlsx")
df2 = pd.read_csv('reddit_daily_normalized.csv')
df3 = pd.read_csv('news_daily_normalized.csv')

In [18]:
df1.head()

,Date,Fees Value,Total Transactions,Daily Blocks,UTXO Set Size,Velocity - Daily,Transaction Amount,Money Supply,Miner Revenue Value,Chain Value Density,...,Hash Rate,Output Value,Avg. UTXO Amount,UTXO Growth,Fee Rate,Inflation Rate,Difficulty,Daily Transactions,Two-Week Hash Growth,Market Capitalization
0,2011-02-06,0.16,257460,179,84187,0.015426,89.558963,5321500.0,7965.66,68248.27,...,0.184611,73059.27,63.2105,306,66,174.722,22012,876,18.4810,4736135.0
1,2011-02-07,0.09,258321,177,84405,0.011643,136.429085,5330350.0,7876.59,68082.73,...,0.187894,55232.49,63.1521,218,36,173.646,22012,861,20.9945,4744011.5
2,2011-02-08,0.28,259209,203,84847,0.029014,421.519826,5340500.0,8932.28,67200.31,...,0.193052,136356.58,62.9427,442,126,172.767,22012,888,23.5868,4699640.0
3,2011-02-09,0.16,260088,168,85255,0.012668,58.934909,5348900.0,7644.16,69343.98,...,0.198433,61662.56,62.7400,408,69,171.759,25998,879,25.4541,4867499.0
4,2011-02-10,0.07,261334,192,85898,0.024524,98.518699,5358500.0,9888.07,78226.56,...,0.209182,135355.47,62.3821,643,18,171.090,25998,1246,31.0569,5519255.0

In [19]:
df2.head()

,Date,r_tit_subj_comm,r_tit_subj_score,r_tit_pol_comm,r_tit_pol_score,r_bod_subj_comm,r_bod_subj_score,r_bod_pol_comm,r_bod_pol_score,count
0,2010-12-01,0.0,0.232768,0.503682,0.672098,0.0,0.000000,0.143363,0.370165,0.0
1,2010-12-11,0.0,0.000000,0.503682,0.672098,0.0,0.000000,0.143363,0.370165,0.0
2,2011-02-10,0.0,0.000000,0.503682,0.672098,0.0,0.000000,0.143363,0.370165,0.0
3,2011-02-20,0.0,0.000000,0.503682,0.672098,0.0,0.127635,0.143363,0.374463,0.0
4,2011-03-21,0.0,0.000000,0.503682,0.672098,0.0,0.174176,0.143363,0.374434,0.0

In [14]:
df3.describe()

,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
count,507.000000,507.000000,507.000000,507.000000,507.000000
mean,0.100128,0.072917,0.608940,0.466257,0.138334
std,0.149044,0.108020,0.035769,0.032888,0.225207
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.608310,0.465392,0.000000
50%,0.029968,0.052810,0.608310,0.465392,0.000000
75%,0.147814,0.098901,0.608387,0.465437,0.414913
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# df2['Date'] = df2['date']

# df2.drop('date', axis = 1, inplace=True)

In [20]:
df = df1.merge(df2, on='Date', how='left')

In [21]:
df = df.merge(df3, on='Date', how='left')

In [24]:
df = df.fillna(value = -1.0)

In [25]:
df.to_csv('bitcoin_plus_reddit_plus_news.csv')