In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [31]:
# could alternatively read in 'reddit_dailyscores_ours.csv' to progress with our sentiment analyzer
df = pd.read_csv('../data/reddit_dailyscores.csv')
scaler = MinMaxScaler()

# scale all cols besides date to range from zero to one
for item in df:
    if item != 'Date':
        df[item] = scaler.fit_transform(df[[item]])

<class 'pandas.core.frame.DataFrame'>

In [32]:
df.head()

,Date,r_tit_pol_comm,r_tit_pol_score,r_bod_pol_comm,r_bod_pol_score,count
0,2010-12-01,0.0,0.065217,0.0,0.0,0.0
1,2010-12-11,0.0,0.038043,0.0,0.0,0.0
2,2011-02-10,0.0,0.000000,0.0,0.0,0.0
3,2011-02-20,0.0,0.005435,0.0,0.0,0.0
4,2011-03-21,0.0,0.016304,0.0,0.0,0.0

In [33]:
# spread out the values a little more
for item in df:
    if item!='Date':    
        df[item] = np.power(df[item],1./4)

In [34]:
df.describe()

,r_tit_pol_comm,r_tit_pol_score,r_bod_pol_comm,r_bod_pol_score,count
count,2388.000000,2388.000000,2388.000000,2388.000000,2388.000000
mean,0.130888,0.287493,0.078621,0.114147,0.282734
std,0.065166,0.120297,0.071974,0.088076,0.198382
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.098532,0.227698,0.048477,0.074999,0.151414
50%,0.125631,0.277878,0.068413,0.104907,0.193014
75%,0.156148,0.332273,0.095339,0.136610,0.472524
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [35]:
# for textblob analyzer
df.to_csv('../data/reddit_daily_normalized.csv', index=False)

In [ ]:
# for our analyzer
df.to_csv('../data/reddit_daily_normalized_ours.csv', index=False)